---
layout: splash
author_profile: false
title: "More details"
permalink: /details/
entries_layout: grid
search: true
toc: true

galleryTrophies:
  - url: /assets/images/2024/trophy.jpg
    image_path: /assets/images/2024/trophy.jpg
    alt: "Ph0wn Trophy 2024 - Made by SHL"
    title: "Ph0wn Trophy 2024 - Made by SHL"

  - url: /assets/images/2023/ph0wn2023-trophy.jpg
    image_path: /assets/images/2023/ph0wn2023-trophy.jpg
    alt: "Ph0wn Trophy 2023 - Designed by r00tBSD"
    title: "Ph0wn Trophy 2024 - Designed by r00tBSD"

galleryBadgeWinners:
  - url: /assets/images/2024/badge.jpg
    image_path: /assets/images/2024/badge.jpg
    alt: "Badge Contest Winner 2024"
    title: "Badge Contest Winner 2024"

  - url: /assets/images/2023/ph0wn2023-lambdahack.jpg
    image_path: /assets/images/2023/ph0wn2023-lambdahack.jpg
    alt: "Badge Contest Winner 2023"
    title: "Badge Contest Winner 2023"

  - url: /assets/images/2022/ph0wn2022-badge6502.png
    image_path: /assets/images/2022/ph0wn2022-badge6502.png
    alt: "Badge Contest Winner 2022 - 6502man"
    title: "Badge Contest Winner 2022"

galleryBadges:

  - url: /assets/images/2023/ph0wn2023-6502man.jpg
    image_path: /assets/images/2023/ph0wn2023-6502man.jpg
    alt: "Badge created by 6502man"
    title: "Badge created by 6502man"

  - url: /assets/images/2022/ph0wn2022-allbadges.jpg
    image_path: /assets/images/2022/ph0wn2022-allbadges.jpg
    alt: "Badge of 2022"
    title: "Badge of 2022"


---


<h2>More information</h2>

<ul>
    <li><a href="/rules/#equipment">Equipment to bring</a></li>
    <li><a href="/rules/">CTF Rules</a></li>
    <li><a href="/rules/">Prize Attribution</a></li>
    <li><a href="/rules/#conduct">Code of Conduct</a></li>
    
</ul>

<h2>Ph0wn Mag</h2>

<ul>
    <li><i class="fa-solid fa-book"></i> November 2024 <a href="/assets/pdf/ph0wnmag-02.pdf">Ph0wn eZine Issue #02</a></li>
    <li><i class="fa-solid fa-book"></i> November 2023 <a href="/assets/pdf/ph0wnmag-01.pdf">Ph0wn eZine Issue #01</a> </li>
    </ul>


<h2>Badge Contest 2022-2024</h2>

<a href="/badge/"> Description and rules for the Badge Contest</a>

{% include gallery id="galleryBadgeWinners" caption="" %}


<h2>Trophies</h2>

{% include gallery id="galleryTrophies" caption="" %}




<h2>Past Editions</h2>


<ul>
    {% for post in site.posts %}
        {% if  post.url contains "edition" %}
        <li>
        
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>
