---
layout: splash
author_profile: false
title: "contact"
permalink: /contact/
entries_layout: grid
search: false

committee_grid_1:
  - name: "Axelle Apvrille"
    photo: "/assets/images/staff/axelle-apvrille.png"
    role: "Lead Organizer"
    social: "@cryptax"
    socialLink: "https://x.com/cryptax"
    workPlace: "Fortinet"

  - name: "Ludovic Apvrille"
    photo: "/assets/images/staff/ludovic-apvrille.png"
    role: "Strange challenge generator"
    social: ""
    workPlace: "Telecom Paris"

  - name: "Paul Ganelon"
    role: "Mr Event"
    social: "@PaulGanelon"
    socialLink: "https://x.com/PaulGanelon"
    workPlace: "SHL"


committee_grid_2:

  - name: "Philippe Paget"
    photo: "/assets/images/staff/philippe-paget.png"
    role: "Hardware"
    social: "@Phil242"
    socialLink: "https://x.com/Phil242"
    workPlace: "GreHack"

  - name: "Bastien Sultan"
    photo: "/assets/images/staff/bastien-sultan.png"
    role: "Speaker relations & Dr. Culture"
    social: ""
    workPlace: "Telecom Paris"

---

<h2>Contact</h2>
<ul class="no-bullets">
  <li> <i class="fa fa-envelope"></i>  contact (at) ph0wn (dot) org</li>
  <li> <i class="fab fa-twitter"></i> <a href="https://twitter.com/ph0wn">@ph0wn</a></li>
  
  <li> <i class="fab fa-mastodon"></i> <a href="https://infosec.exchange/@ph0wn">ph0wn</a> on infosec.exchange </li>
  <li> <i class="fab fa-discord"></i> <a href="https://discord.gg/ddspM9deeu">ph0wn Discord server</a></li>

</ul>


<h2>Core organizers</h2>

<div class="org-chart">

  <div class="level">

      {% for member in page.committee_grid_1 %}
        <div class="box">
            <div class="steering-committee">
              <div class="profileBox">
                {% if member.photo.size > 0 %}
                  <img src="{{ member.photo }}" >
                {% else %}
                  {{ member.name | split:" " | last | slice: 0, 1 }} {{ member.name | split:" " | first | slice: 0, 1 }}
                {% endif %}
              </div>
            </div>
            <div>
              {{ member.name }}
            </div>
            <div>
              {{ member.role }}
            </div>
            <i>
              {% if member.socialLink %}
                  <a href="{{member.socialLink}}"> {{ member.social }} </a>
                {% else %}
                  {{ member.social }}
                {% endif %}
               <br>
               <i class="fa-regular fa-building"></i>
              {{ member.workPlace }}
           </i>
        </div>
      {% endfor %}

  </div>

  <div class="level">

    {% for member in page.committee_grid_2 %}
      <div class="box">
          <div class="steering-committee">
            <div class="profileBox">
              {% if member.photo.size > 0 %}
                  <img src="{{ member.photo }}" >
                {% else %}
                  {{ member.name | split:" " | last | slice: 0, 1 }} {{ member.name | split:" " | first | slice: 0, 1 }}
              {% endif %}
            </div>
          </div>
          <div>
            {{ member.name }}
          </div>
          <div>
            {{ member.role }}
          </div>
          <i>
            {% if member.socialLink %}
            <a href="{{member.socialLink}}"> {{ member.social }} </a>
            {% else %}
                {{ member.social }}
            {% endif %}
            <br>
            <i class="fa-regular fa-building"></i>
            {{ member.workPlace }}
          </i>
      </div>
    {% endfor %}
  </div>

  <h2>Ph0wn regular volunteers</h2>

  Many other people contribute to Ph0wn regularly:
  <ul>
    <li>Sandro Barbero - Fortinet (CTFd, HA)</li>
    <li>Alexis Baret @g3rb0ise (sponsors)</li>
    <li>Brehima Coulibaly - Fortinet (webmaster)</li>
    <li>Savino Dambra - Norton Research Group</li>
    <li>Alain Forcioli - Fortinet (network)</li>
    <li>Romain Malmain - EURECOM (lead tester)</li>
    <li>Nicolas Oberli (PCB designer)</li>
    <li>Nicolas Rouvière - GSF (creative contest)</li>
    <li>Karim Sudki - @Az0x (ph0wn2pwn) </li>
  </ul>

  and yet more have already created challenges for Ph0wn in the past: Guerric Eloi, Fabrice Francès, Travis Goodspeed, Letitia Li...


</div>
