---
layout: splash
author_profile: false
title: "What does Ph0wn CTF look like?"
permalink: /gallery/
entries_layout: grid
search: true
---
A few examples of challenges at former Ph0wn editions:

<ul>
  <li>Ph0wn 2017: make a <a href="/edition2017">Parrot drone take off</a> without the app.</li>
  <li>Ph0wn 2018: find the flag on a custom watch face for the Amazfit Bip smartwatch.</li>
  <li>Ph0wn 2019: add a functionality to a connected Nespresso machine.</li>
  <li>Ph0wn 2022: hack a connected jump rope.</li>
  <li>Ph0wn 2023: communicate with the EchoStar XXI satellite.</li>
  <li>Ph0wn 2024: fix vulnerabilities of an app for M5 Stick C.</li>
</ul>


<figure class="align-center">

  <iframe width="560" height="315" src="https://www.youtube.com/embed/M7OFuF61Ssg" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  <figcaption>Ph0wn 2024 - Race for the Flag</figcaption>
</figure>

<h2> Photos </h2>


<figure class="third">
    
    {% for file in site.static_files %}
    {% if file.path contains 'gallery' %}
        {% if file.extname == '.jpg' or file.extname == '.jpeg' 
        or file.extname == '.JPG' or file.extname == '.JPEG' 
        or file.extname == '.png' or file.extname == '.PNG' 
        %}
            
            <a href="{{file.path}}">
            <img src="{{file.path}}"></a>
            
        {% endif %}
    {% endif %}
    {% endfor %}

</figure>

