---
layout: splash
author_profile: false
title: "What it looks like ?"
permalink: /gallery/
entries_layout: grid
search: true
---


<figure class="third">
    
    {% for file in site.static_files %}
    {% if file.path contains 'gallery' %}
        {% if file.extname == '.jpg' or file.extname == '.jpeg' 
        or file.extname == '.JPG' or file.extname == '.JPEG' 
        or file.extname == '.png' or file.extname == '.PNG' 
        %}
            
            <a href="{{file.path}}">
            <img src="{{file.path}}"></a>
            
        {% endif %}
    {% endif %}
    {% endfor %}

</figure>

<figure class="align-center">
<figcaption>Ph0wn 2024 - Race for the Flag</figcaption>
<iframe width="560" height="315" src="https://www.youtube.com/embed/M7OFuF61Ssg" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</figure>
