---
layout: splash
author_profile: false
title: "Equipment, rules and Code of Conduct"
permalink: /rules/
entries_layout: grid
---

{% include_relative equipment.html %}

<h2>Rules</h2>
<div class="notice">
  <ul>
  <li>Competitors have to be physically present</li>
  <li>Maximum number of 5 participants per team</li>
  <li>During Ph0wn, for some specific challenges, participant may borrow equipment and smart devices. This equipment/device should <i>be handled with care</i> and <i>returned</i> in perfect working condition. In all cases, return promptly the item at the end of the CTF please (sometimes, it's our own, and it costs us!). Please discuss with the organizers if you have any question on what is permitted or not.
  </li>
  <li>To compete with existing conference badges, you will need to modify your badge. Changes can include hardware upgrades, new extensions, or customized firmware, etc. more info on that here: <a href="/badge">Badge contest</a></li>
  </ul>

  Participants must comply to <a href="#conduct">the Code of Conduct</a>. In particular, note it is <b>strictly prohibited and subject to disqualification</b> to:

  <ul>
  <li>Attack any machine other than the designated ones,</li>
  <li>DoS Ph0wn CTF infrastructure or University,</li>
  <li>Modify the scoreboard,</li>
  <li>Intentionally prevent other teams from flagging.</li>
  </ul>
</div>

<h2>Prize Attribution</h2>
<div class="notice">
  <i>This is a short explanation of how prizes are attributed.</i>
  <br />
  <br />
  At the end of the CTF, on Ph0wn's CTF scoreboard, the 3 teams with the highest score are identified and are entitled to a prize.
  In case the score is equal, the first team to reach the score is considered as first.
  <br />

  <ul>
  <li>The first team is called to select 5 prizes among a pool of available prizes.</li>
  <li>Then, the second team is called to select 5 prizes among the remaining prizes.</li>
  <li>Finally, the third team is called to select 5 prizes among the remaining prizes.</li>
  <li>If a team has less than 5 members, they still select 5 prizes :)</li>
  </ul>
  <br />

  Prizes at Ph0wn are provided by our <b>sponsors</b>. Many thanks to them!
  <br />
  In case of insufficient prizes, those rules are subject to change.
  <br />
  <br />

</div>

{% include_relative codeOfConduct.html %}

