---
layout: splash
author_profile: false
title: "Sponsors for 2026"
permalink: /sponsors/
entries_layout: grid
search: false

sponsors:
- url: https://www.fortinet.com/
  image_path: /assets/images/sponsors/Fortinet_Logo_Black-Red.png
  alt: "Fortinet"
  title: "Fortinet"
  inline_style_properties: "width: 300px; padding-top: 30%;"

- url: https://www.telecom-paris.fr/
  image_path: /assets/images/sponsors/logotpt.png
  alt: "Telecom Paris"
  title: "Telecom Paris"
  inline_style_properties: "height: 300px;"

- url: https://univ-cotedazur.fr/
  image_path: /assets/images/sponsors/uca.png
  alt: "Université Côte d'Azur"
  title: "Université Côte d'Azur"
  inline_style_properties: "height: 200px;"

- url: https://www.eurecom.fr
  image_path: /assets/images/sponsors/eurecom_med.jpg
  alt: "Eurecom"
  title: "Eurecom"
  inline_style_properties: "padding-top: 10%;"

- url: https://www.serma-safety-security.com
  image_path: /assets/images/sponsors/serma.jpg
  alt: "SERMA"
  title: "SERMA"
  inline_style_properties: "width: 350px; padding-top: 10%;"

- url: https://www.gsf.fr/
  image_path: /assets/images/sponsors/blocmarquegsf2020_h_cmjn.jpg
  alt: "GSF"
  title: "GSF"
  inline_style_properties: "width: 350px; padding-top: 10%;"

- url: https://www.fuzzinglabs.com/
  image_path: /assets/images/sponsors/fuzzingLab_WhiteBG.png
  alt: "Fuzzing Labs"
  title: "Fuzzing Labs"
  inline_style_properties: "height: 125px;"

- url: https://www.nxp.com/
  image_path: /assets/images/sponsors/nxp_logo.svg
  alt: "NXP"
  title: "NXP"
  inline_style_properties: "width: 150px; padding-top: 25%;"


- url: https://hardware.io/
  image_path: /assets/images/sponsors/hardwear_300.png
  alt: "hardware.io"
  title: "hardware.io"
  inline_style_properties: "width: 200px; padding-top: 10%;"

- url : https://www.hydrabus.com/
  image_path: /assets/images/sponsors/HydraBus_RED.png
  alt: "hydrabus"
  title: "hydrabus"
  inline_style_properties: "height: 110px;"

- url: https://dvid.eu
  image_path: /assets/images/sponsors/dvid.jpg
  alt: "DVID"
  title: "DVID"
  inline_style_properties: "width: 150px; padding-top: 10%;"

partnerEvents:
  - url: https://www.grehack.fr/
    image_path: /assets/images/sponsors/grehack2023.png
    alt: "GreHack"
    title: "GreHack"
    inline_style_properties: "height: 120px; width: 120px;"

  - url: https://shl.contact
    image_path: /assets/images/sponsors/logo-SHL-dark.png
    alt: "SHL"
    title: "Sophia Hacker Lab"
    inline_style_properties: "height: 120px; width: 120px;"

  - url: https://thcon.party
    image_path: /assets/images/sponsors/thcon.png
    alt: "THCon"
    title: "Toulouse Hacking Convention"
    inline_style_properties: "height: 40px; width: 210px;"

  - url: https://www.nops.re/
    image_path: /assets/images/sponsors/nops-2025.png
    alt: "N0PS CTF"
    title: "N0PS CTF"
    inline_style_properties: "height: 100px; width: 100px;"

---
<h2>Want to sponsor Ph0wn 2026 ?</h2>

<ul>
    <li><a href="https://twitter.com/ph0wn">  </a>Send us an email on contact (at) ph0wn (dot) org <i class="fas fa-envelope"></i></li>
    <li>Download our <a href="/assets/pdf/sponsorbrochure.pdf">sponsor brochure</a> <i class="fa-solid fa-book"></i></li>

</ul>



<figure class="">
{% for image in page.sponsors %}
    <a href="{{ image.url }}">
      <img src="{{ image.image_path }}" alt="{{ image.alt }}" title="{{ image.title }}"
      {% if image.inline_style_properties %} style="{{ image.inline_style_properties }}" {% endif %}
      />
    </a>
{% endfor %}
</figure>



<h2>Partner Events</h2>

<figure class="half">
  {% for image in page.partnerEvents %}
    <a href="{{ image.url }}">
      <img src="{{ image.image_path }}" alt="{{ image.alt }}" title="{{ image.title }}"
      {% if image.inline_style_properties %} style="{{ image.inline_style_properties }}" {% endif %}
      />
    </a>
  {% endfor %}

</figure>


