---
layout: splash
author_profile: false
title: "Sponsors for 2024"
permalink: /sponsors/
entries_layout: grid
search: false

sponsors:
- url: https://www.fortinet.com/
  image_path: /assets/images/sponsors/Fortinet_Logo_Black-Red.png
  alt: "Fortinet"
  title: "Fortinet"
  inline_style_properties: "width: 300px; padding-top: 30%;"

- url: https://www.telecom-paris.fr/
  image_path: /assets/images/sponsors/logotpt.png
  alt: "Telecom Paris"
  title: "Telecom Paris"
  inline_style_properties: "height: 300px;"

- url: https://univ-cotedazur.fr/
  image_path: /assets/images/sponsors/uca.png
  alt: "Université Côte d'Azur"
  title: "Université Côte d'Azur"
  inline_style_properties: "height: 200px;"

- url: https://www.eurecom.fr
  image_path: /assets/images/sponsors/eurecom_med.jpg
  alt: "Eurecom"
  title: "Eurecom"
  inline_style_properties: "padding-top: 10%;"

- url: https://ringzer0.training/
  image_path: /assets/images/sponsors/ringzer0-black.png
  alt: "Ringzer0"
  title: "Ringzer0"
  inline_style_properties: "width: 350px; padding-top: 10%;"

- url: https://penthertz.com
  image_path: /assets/images/sponsors/Penthertz-logosquare.png
  alt: "PentHertz"
  title: "PentHertz"
  inline_style_properties: "width: 250px; padding-top: 10%;"

- url: https://www.serma-safety-security.com
  image_path: /assets/images/sponsors/serma.jpg
  alt: "SERMA"
  title: "SERMA"
  inline_style_properties: "width: 250px; padding-top: 10%;"

- url : https://www.hydrabus.com/
  image_path: /assets/images/sponsors/HydraBus_RED.png
  alt: "hydrabus"
  title: "hydrabus"
  inline_style_properties: "height: 110px;"

- url: https://hardware.io/
  image_path: /assets/images/sponsors/hardwear_300.png
  alt: "hardware.io"
  title: "hardware.io"
  inline_style_properties: "width: 300px; padding-top: 10%;"

- url: https://www.texplained.com
  image_path: /assets/images/sponsors/texplained.png
  alt: "texplained"
  title: "texplained"
  inline_style_properties: "height: 90px;"


- url: https://cube-escape.fr/
  image_path: /assets/images/sponsors/cube-blanc-surnoir.png
  alt: "Cube"
  title: "Cube Escape Game"
  inline_style_properties: "height: 60px;"

partnerEvents:
  - url: https://www.grehack.fr/
    image_path: /assets/images/sponsors/grehack2023.png
    alt: "GreHack"
    title: "GreHack"
    inline_style_properties: "height: 120px; width: 120px;"

  - url: https://shl.contact
    image_path: /assets/images/sponsors/logo-SHL-dark.png
    alt: "SHL"
    title: "Sophia Hacker Lab"
    inline_style_properties: "height: 120px; width: 120px;"

  - url: https://thcon.party
    image_path: /assets/images/sponsors/thcon.png
    alt: "THCon"
    title: "Toulouse Hacking Convention"
    inline_style_properties: "height: 60px;"

---
<h2>Want to sponsor Ph0wn 2024 ?</h2>

<ul>
  <li><a href="https://twitter.com/ph0wn">  </a>Send us an email on contact (at) ph0wn (dot) org <i class="fas fa-envelope"></i></li>
  <li>Check our <a href="/assets/pdf/sponsorship.pdf">sponsorship brochure</a></li>
</ul>



<h2>Sponsors for 2024</h2>
<figure class="">
{% for image in page.sponsors %}
    <a href="{{ image.url }}">
      <img src="{{ image.image_path }}" alt="{{ image.alt }}" title="{{ image.title }}"
      {% if image.inline_style_properties %} style="{{ image.inline_style_properties }}" {% endif %}
      />
    </a>
{% endfor %}
</figure>



<h2>Partner Events</h2>

<figure class="half">
  {% for image in page.partnerEvents %}
    <a href="{{ image.url }}">
      <img src="{{ image.image_path }}" alt="{{ image.alt }}" title="{{ image.title }}"
      {% if image.inline_style_properties %} style="{{ image.inline_style_properties }}" {% endif %}
      />
    </a>
  {% endfor %}

</figure>


