<footer class="footer text-center">
    <div class="container">
        <ul class="list-inline mb-5">
	    <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://infosec.exchange/@ph0wn">
		    <i class="fab fa-mastodon"></i>
		</a>
            </li>

            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/ph0wn">
		    <i class="icon-social-twitter"></i>
		</a>
            </li>
	    <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://github.com/ph0wn">
		    <i class="icon-social-github"></i>
		</a>
            </li>
	    <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://discord.gg/X5n2q4Nq">
		    <i class="fab fa-discord"></i>
		</a>
            </li>

        </ul>
        <p class="text-muted small mb-0">Copyright &copy; ph0wn 2024</p>
    </div>
</footer>
