<footer class="footer text-center">
    <div class="container">
        <ul class="list-inline mb-5">
            <a href="https://twitter.com/ph0wn">Twitter</a>&nbsp;
            <a href="https://github.com/ph0wn">GitHub</a>
            <a rel="me" href="https://infosec.exchange/@ph0wn">Mastodon</a>
            <!-- This doesnt work any longer TO FIX
                 NB. Discord server no longer exists
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/ph0wn">
              <i class="icon-social-twitter"></i>
            </a>
            </li>
            
	    <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://discord.gg/XXXX">
		    <i class="fab fa-discord"></i>
		</a>
            </li>
        
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="https://github.com/ph0wn">
              <i class="icon-social-github"></i>
            </a>
            </li>
        -->
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; ph0wn 2023</p>
    </div>
</footer>
