<header class="masthead d-flex">
    <div class="container text-right">
	<!-- 
	     <div class="p-3 mb-4 bg-danger text-white">
             SAVE THE DATE! Ph0wn CTF 2023 will take place on Saturday Nov 25. Workshops will be the day before, on Friday afternoon. Stay tuned!
	     </div>
	-->

        <h1 class="text-light mb-1">Ph0wn CTF</h1>
        <h3 class="text-light mb-5"> 
            <em>A Capture The Flag for Smart Devices</em>
	    <br>
	    <em>November 29-30, 2024</em>
        </h3>
	
        <a class="btn btn-dark btn-xl js-scroll-trigger" href="#about">Find Out More  <i class="fas fa-arrow-down"></i></a>


    </div>
    <div class="overlay"></div>
</header>
