<header class="masthead d-flex">
    <div class="container text-center">
      <div class="p-3 mb-4 bg-danger text-white">
        Registration opens on Nov 8, 2022
      </div>
      
        <h1 class="text-white mb-1">Ph0wn CTF</h1>
        <h3 class="text-white mb-5"> <!-- text-lightdark -->
          <em>A Capture The Flag for Smart Devices</em>
        </h3>
        
        <a class="btn btn-dark btn-xl js-scroll-trigger" href="#about">Find Out More</a>


    </div>
    <div class="overlay"></div>
</header>
