<a class="menu-toggle rounded" href="{{ site.url }}">
      <i class="fas fa-bars"></i>
    </a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top">Ph0wn</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/#">Home</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/#participate">How to participate</a>
        </li>
	<li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/#sponsors">Sponsors</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/#who">Steering Committee</a>
        </li>
	<li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/#map">Map</a>
        </li>
	<li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/#directions">Directions</a>
        </li>
	<li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/rules/">CTF Rules</a>
        </li>
	<li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/2019/12/13/edition2019.html">Ph0wn 2019</a>
        </li>
	<li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/2018/12/15/edition2018.html">Ph0wn 2018</a>
        </li>
	<li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/2017/11/30/edition2017.html">Ph0wn 2017</a>
        </li>
    </ul>
</nav>
