<a class="menu-toggle rounded" href="{{ site.url }}">
      <i class="fas fa-bars"></i>
    </a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top">Ph0wn</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#participate">How to participate</a>
        </li>
	<li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#sponsors">Sponsors</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#who">Steering Committee</a>
        </li>
	        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#portfolio">Archive</a>
        </li>
	<li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#map">Map</a>
        </li>
	<li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#directions">Directions</a>
        </li>
	
    </ul>
</nav>
